<!DOCTYPE html>
<html>
<head>
    <title>Doctors</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
<h2>Our Doctors</h2>
<ul>
    <div class="doctors-container">
        <ul style="list-style-type: none; paddin:0; margin:0;">
    <li>
        <div class="doctor-card">
            <img src="doctor-card.jpg" width="300" height="300" alt="Dr.Ajith">
            <p><strong>Dr. Ajith</strong>-<em>Cardiologist</em></p>
        </div>
    </li>
        </ul>

    <ul style="list-style-type: none; paddin:0; margin:0;">
    <li>
        <div class="doctor-card">
            <img src="goweri.jpeg" width="300" height="300" alt="Dr.Ajith">
            <p><strong>Dr. Goweri</strong>-<em>Dermonologist</em></p>
        </div>
        </ul>
    </div>
    <li>
        <div class="container">
        <div class="doctor-card" style="text-align: center; margin-top:20px;">
            <img src="doctor2.jpg" width="300" height="400" alt="Dr.Vijay">
            <p><strong>DR.VIJAY</strong>-<em>Neurologist</em>
            </p>
        </div>
        </div>
    </li>
</ul>
</div>
</body>
</html>