<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CITYCARE HOSPITAL</title>
</head>

<link rel="stylesheet" href="style.css">
<script src="script.js"></script>
<body>
<h1>Welcome to CityCare Hospital</h1>

</div>
<nav>
    <a href=index.html>Home</a> |
    <a href="appoinment.html">Appointment</a> |
    <a href="doctors.html">Doctors</a> |
    <a href="contact.html">Contact</a> |
    <a href="login.html">Login</a>
</nav>

    <div style="text-align:left; margin-bottom:20px;">
        <img src="hospital-building-outside-composition-vector.jpg" alt="Hospatial Building" style=" max-width:100%; height: auto; border-radius: 6px">
    </div>
<div style="text-align:center; margin-bottom:20px;">
    <img src="images%20(2).jpeg" alt="Hospatial Building" style=" max-width:100%; height: auto; border-radius: 6px">
</div>
        <p>Your Health, Our Priority.</p>

</body>
</html>